<!DOCTYPE html>
<html>
  <head>
    <title>MessageBox</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter Your Message</h1>
    <form method="POST" action="/submit-form">
      <label for="senderName">Name:
        <input type="text" name="senderName"> 
      </label><br><br>

      <label for="movie">What's your favourite movie?
        <input type="text" name="movie"> 
      </label><br><br>

      <label for="fruit">What's your favourite fruit?
        <input type="text" name="fruit"> 
      </label><br><br>

      <label for="videoGame">What's your favourite video game?
        <input type="text" name="videoGame"> 
      </label><br><br>
      
      <input type="submit">
    </form>
  </body>
</html>
